/* Color Palette
#1C5830 - GREEN
#09846A - Dark Turquoise
#9EAAA8 - Grey
#7C8B51 - Light Green
#291C18 - Dark Brown
#A4B18D - Lightest Green...
*/

/* Fonts
--------------- 
font-family: 'Crimson Text', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Young Serif', serif;
*/

/* Global styles 
------------------------------------*/
*, *:before, *:after {
    box-sizing: inherit;
  }
  .content-wrap {
    padding: 50px;
    overflow: hidden;
    margin: 0 auto;
  }
  .column-narrow {
    width: 30%; 
    float: left; 
    padding-right: 3%; 
    min-height: 175px;
  }
  .column-wide {
    width: 70%; 
    float: left; 
    min-height: 225px;
  }
  .profile-img {
    width:300px;
    border-radius: 50%;
    float: left;
  }
  
  html {
    box-sizing: border-box;
  }
  
  body {
    background: #1C5830;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    margin: 0;
  }
  h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 250%;
      color: #7C8B51;
    margin: 0;
  } 
  
  h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 150%;
    margin: 0;
  }
  
  h3 {
    font-size: 150%;
    margin: 0;
  }
  
  p {
    font-size: 15px;
  }
  
  /* Header 
  -------------------------------------------------------*/
  header {
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff; /* White text on green background */
    background: #A4B18D;
  }
  
  /* Name */
  header h1 {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 50px;
    color: #1C5830;
  }
  
  
  /* Work Experience
  ------------------------------------*/
  .workSection {
    background: #517c8b; 
  
  }
  
  /* Education
  ------------------------------------*/
  .educationSection {
    background: #1C5830; 
    color: #7C8B51;
  }
  
  /* Footer 
  ------------------------------------*/
  footer {
    font-family: 'Titillium Web', sans-serif;
    background: #A4B18D; 
    color: #ffffff; 
    padding: 20px;
    text-align: center;
  }
  
  /* extra */
  .contact-info a {
    padding: 10px; 
    display: inline-block;
  }
  